.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px;
  color: var(--black);
}
.leftContents {
  width: 100%;
  max-width: 600px;
  border-left: 1px solid var(--black);
  padding: 20px;
}
.rightContents {
  width: 100%;
  max-width: 600px;
  border-right: 1px solid var(--black);
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.leftImage {
  width: 100%;
  height: 100%;
}

.title {
  font-size: var(--font-hg);
  // font-family: var(--font-play);
  font-weight: 700;
}
.strong {
  font-weight: 700;
}
.titleDes {
  font-family: "Noto Sans KR", serif;
  font-size: var(--font-sm);
  line-height: 20px;
  word-break: keep-all;
}
.titleLink {
  font-size: var(--font-xl);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list {
  cursor: pointer;
  transition: 0.3s;
}
.list:hover {
  transform: translateX(15px);
}
