:root {
  // color 관련
  --white: #fafafa;
  --black: #2b2c27;
  --primary: #e8e3d6;
  --secondary: #e0d9cd;
  --primary-bright: ##fff8f0;
  --primary-dark: #716f6b;

  // 폰트 관련
  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 22px;
  --font-lg: 28px;
  --font-xl: 32px;
  --font-hg: 48px;

  --font-pop: "Poppins", serif;
  --font-play: "Playfair Display", serif;
  --font-kor: "Poppins", serif;
}
